html, body {
  height: 100%;
}

body {
  overflow: hidden;
  color: white;
  font: 100% sans-serif;
}

h1 {
  font-size: 6em;
  text-align: center;
}

.whitespace-fix {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

input[type=radio].item {
  display: none;
}

input[type=radio].item#section1:checked ~ nav label[for=section1] {
  background-color: white;
}

input[type=radio].item#section1:checked ~ section:nth-of-type(1) {
  top: 0;
  z-index: 1;
  transition: top 0.5s ease-in-out;
  transition-delay: 0s;
}

input[type=radio].item#section1:checked ~ .whitespace-fix {
  background-color: #ffca28;
}

input[type=radio].item#section2:checked ~ nav label[for=section2] {
  background-color: white;
}

input[type=radio].item#section2:checked ~ section:nth-of-type(2) {
  top: 0;
  z-index: 1;
  transition: top 0.5s ease-in-out;
  transition-delay: 0s;
}

input[type=radio].item#section2:checked ~ .whitespace-fix {
  background-color: #ffc107;
}

input[type=radio].item#section3:checked ~ nav label[for=section3] {
  background-color: white;
}

input[type=radio].item#section3:checked ~ section:nth-of-type(3) {
  top: 0;
  z-index: 1;
  transition: top 0.5s ease-in-out;
  transition-delay: 0s;
}

input[type=radio].item#section3:checked ~ .whitespace-fix {
  background-color: #ffb300;
}

input[type=radio].item#section4:checked ~ nav label[for=section4] {
  background-color: white;
}

input[type=radio].item#section4:checked ~ section:nth-of-type(4) {
  top: 0;
  z-index: 1;
  transition: top 0.5s ease-in-out;
  transition-delay: 0s;
}

input[type=radio].item#section4:checked ~ .whitespace-fix {
  background-color: #ffa000;
}

input[type=radio].item#section5:checked ~ nav label[for=section5] {
  background-color: white;
}

input[type=radio].item#section5:checked ~ section:nth-of-type(5) {
  top: 0;
  z-index: 1;
  transition: top 0.5s ease-in-out;
  transition-delay: 0s;
}

input[type=radio].item#section5:checked ~ .whitespace-fix {
  background-color: #ff8f00;
}

input[type=radio].item#section6:checked ~ nav label[for=section6] {
  background-color: white;
}

input[type=radio].item#section6:checked ~ section:nth-of-type(6) {
  top: 0;
  z-index: 1;
  transition: top 0.5s ease-in-out;
  transition-delay: 0s;
}

input[type=radio].item#section6:checked ~ .whitespace-fix {
  background-color: #ff6f00;
}

.nav {
  position: fixed;
  right: 30px;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
}
.nav-item {
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  margin: 12px auto;
  width: 12px;
  height: 12px;
}
.nav-item:hover {
  background-color: white;
}

section {
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  top: 100%;
  left: 0;
  right: 0;
  transition-delay: 0.5s;
}

section:nth-of-type(1) {
  background: #ffca28;
}

section:nth-of-type(2) {
  background: #ffc107;
}

section:nth-of-type(3) {
  background: #ffb300;
}

section:nth-of-type(4) {
  background: #ffa000;
}

section:nth-of-type(5) {
  background: #ff8f00;
}

section:nth-of-type(6) {
  background: #ff6f00;
}

/*# sourceMappingURL=styles.css.map */
